*{
    margin: 0;
    padding: 0; /* RESET CSS */
}

html{
    font-size: 24px;
}

body{
    background-color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

h1, h2{
    color: navy;
}

h1{
    font-size: 48px;
    margin-bottom: 3rem;
}

#sv{
    color: grey;
}

h2{
    font-size: 32px;
    text-transform: uppercase;
}

footer{
    background-color: rgba(0, 0, 255, 0.5);
    color:#FFFFFF;
}

.pais{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}