

html{
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkgreen;
}

section{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

article{
    color:black;
}

section h2{ /* Toma todos los h2 dentro de una section*/
    color: navy;
}

section>h2{ /* toma todos los h2 que son hijos directos de section*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:red;
}

article h1+h2{ /*Toma los h2 adyacentes a h1 que esten dentro de un article*/
    text-decoration: underline;
}

a:link{
    color: blue;
}

a:visited{
    color:aqua;
}

a:hover{
    color:navy;
}